body{
    background-image: url(https://media.giphy.com/media/l2R0flMBPtMGU0wbm/giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #fff;
    border-radius: 5px;
    background-image: url(https://media.giphy.com/media/iKlVVfabgroEE/giphy.gif);
    background-size: cover;
    background-repeat: no-repeat;
}

#colore{
    color: #fff;
    background: rgb(0,0,0);
    background: linear-gradient(25deg, rgba(0,0,0,1) 0%, rgba(22,121,9,1) 58%);
    border-radius: 5px;
    width: 100%;
    text-align: center;
}